
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    <br /><br />
    <div ng-app="myApp" ng-controller="customersCtrl">

        <table class="table">
            <thead>
                <tr>
                    <td> Nombre </td>
                    <td> Ciudad </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="departamentos.length == 0" class="text-center">
                    <td colspan="2">No hay datos</td>
                </tr>
                <tr ng-repeat="x in departamentos">
                    <td>{{ x.nombreDep }}</td>
                    <td>{{ x.ciudad }}</td>
                </tr>
            </tbody>
        </table>

    </div>
    <br />


    <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function ($scope, $http) {
                $http.get("/departamentos/getInformation")
                    .then(function success(response) { $scope.departamentos = response.data; hideErrorAlert(); },
                    function error(response) { showErrorAlert('no se obtuvieron datos'); });
            });
    </script>
</body>


