
@{
    ViewBag.Title = "Index";
}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>
    <div ng-app="myApp" ng-controller="customersCtrl">

        <table>
            <tr>
                <td> Nombre </td>
                <td> Ciudad </td>
            </tr>
            <tr ng-repeat="x in departamentos">
                <td>{{ x.nombreDep }}</td>
                <td>{{ x.ciudad }}</td>
            </tr>
        </table>

    </div>

    <script>
            var app = angular.module('myApp', []);
            app.controller('customersCtrl', function ($scope, $http) {
                $http.get("/departamentos/getInformation")
                .then(function (response) { $scope.departamentos = response.data; });
            });
    </script>
</body>

